# Maven
target/

# Gradle
.gradle/
build/
bin/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IDE
.classpath
.project
.settings
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated output files
output/
pdfg2d-svg-emoji/src/main/resources/net/zamasoft/pdfg2d/font/emoji/
pdfg2d-svg-emoji/*.class
